@page
@model IssWebRazorApp.Playbooks.IndexModel
@using IssWebRazorApp.Models

@{
    ViewData["Title"] = "Index";
}

<h1>Playbooks</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Playbooks[0].InstallStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Playbooks[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Playbooks[0].PlayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Playbooks[0].PlayName.ShortName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Playbooks)
        {
            <tr>
                <td>
                    <img src="~/images/icon_down _arrow_s.png" />
                </td>
                <td>
                    @if (String.IsNullOrEmpty(item.InstallStatus) == false)
                    {
                        @InstallSatusService.GetName(item.InstallStatus);
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayName.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayName.ShortName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.PlaybookSystemId">Edit</a>  |
                    <a asp-page="./Details" asp-route-id="@item.PlaybookSystemId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.PlaybookSystemId">Delete</a>
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3">
                    @if (String.IsNullOrEmpty(item.PlayDesign.Url))
                    {
                        <img src="~/images/no_image_01.png" width="460">

                    }
                    else
                    {
                        <img src="@item.PlayDesign.Url" width="460">
                    }
                </td>
                <td colspan="2">
                    ■Context<br>
                    <pre>@Html.DisplayFor(modelItem => item.Context.Text)</pre>
                </td>
            </tr>
            <tr>
                <td colspan="7" align="right">
                    Created: @item.CreateDate / Last Update : @item.LastUpdateDate
                </td>
            </tr>
        }
    </tbody>
</table>
