@page
@model IndexModel
@using IssWebRazorApp.Models
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <div class="row mb-6 text-center">
            <img class="" style="width:100%; height:auto;" src="~/images/homepage.jpg">
        </div>

        <h2 class="text-left mt-3">■活動スケジュール</h2>
        <table class="table">
            <caption>活動スケジュール</caption>
            <thead>
                <tr>
                    <th width="100px">
                        日程
                    </th>
                    <th width="150px">
                        タイトル
                    </th>
                    <th>
                        場所
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var schedule in Model.schedules)
                {
                    <tr>
                        <td>
                            @schedule.EventDate
                        </td>
                        <td>
                            @schedule.Title
                        </td>
                        <td>
                            @schedule.Place.Name
                        </td>
                    </tr>
                    <tr height="32px" style="font-size:1.0rem; padding:0rem; border:2px; border-color:#dee2e6; border-style:dashed none none none;">
                        <td class="text-right">練習連絡 </td>
                        <td class="text-left" colspan="2"><pre>@schedule.Context.Text</pre></td>
                    </tr>
                    @for (int i = 0; i < schedule.OKAnswers.Count; i++)
                    {
                        <tr height="32px" style="font-size:1.0rem; padding:0rem; border:2px; border-color:#dee2e6; border-style:none;">
                            <td class="text-right" height="32px" style="font-size:1.0rem; padding:0rem;">
                                @if (i == 0)
                                {
                                    <div>参加 <img src="~/images/icon_answer_ok.png"></div>
                                }
                            </td>
                            <td height="32px" style="font-size:1.0rem; padding:0rem;">
                                @schedule.OKAnswers[i].User.Position.ShortName @schedule.OKAnswers[i].User.UserName.NameKanji
                            </td>
                            <td height="32px" style="font-size:1.0rem; padding:0rem;">
                                @schedule.OKAnswers[i].Comment
                            </td>
                        </tr>
                    }

                    @for (int i = 0; i < schedule.NGAnswers.Count; i++)
                    {
                        <tr height="32px" style="font-size:1.0rem; padding:0rem; border:2px; border-color:#dee2e6; border-style:none;">
                            <td class="text-right" height="32px" style="font-size:1.0rem; padding:0rem;">
                                @if (i == 0)
                                {
                                    <div>欠席 <img src="~/images/icon_answer_ng.png"></div>
                                }
                            </td>
                            <td height="32px" style="font-size:1.0rem; padding:0rem;">
                                @schedule.NGAnswers[i].User.Position.ShortName @schedule.NGAnswers[i].User.UserName.NameKanji
                            </td>
                            <td height="32px" style="font-size:1.0rem; padding:0rem;">
                                @schedule.NGAnswers[i].Comment
                            </td>
                        </tr>
                    }

                    @for (int i = 0; i < schedule.HOLDAnswers.Count; i++)
                    {
                        <tr height="32px" style="font-size:1.0rem; padding:0rem; border:2px; border-color:#dee2e6; border-style:none;">
                            <td class="text-right" height="32px" style="font-size:1.0rem; padding:0rem;">
                                @if (i == 0)
                                {
                                    <div>保留 <img src="~/images/icon_answer_hold.png"></div>
                                }
                            </td>
                            <td height="32px" style="font-size:1.0rem; padding:0rem;">
                                @schedule.HOLDAnswers[i].User.Position.ShortName @schedule.HOLDAnswers[i].User.UserName.NameKanji
                            </td>
                            <td height="32px" style="font-size:1.0rem; padding:0rem;">
                                @schedule.HOLDAnswers[i].Comment
                            </td>
                        </tr>
                    }

                    <tr>
                        <td class="text-right" colspan="3" height="32px" style="font-size:1.2rem; padding:0rem; border:2px; border-color:#dee2e6; border-style:dashed none solid none;">

                            <img src="~/images/icon_answer_ok.png"> @schedule.OKAnswers.Count
                            <img src="~/images/icon_answer_ng.png"> @schedule.NGAnswers.Count
                            <img src="~/images/icon_answer_hold.png"> @schedule.HOLDAnswers.Count
                            <a asp-page="/ScheduleAnswers/Edit" asp-route-id="@schedule.ScheduleId">
                                [回答：<img src="~/images/icon_replay_16px.png">]
                            </a>
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="3" class="text-right"><a asp-page="./ScheduleManagement/Index">スケジュール編集用ページ</a></td>
                </tr>
            </tbody>
        </table>
    </div>
