@page
@model IssWebRazorApp.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                背番号
            </th>
            <th>
                ポジション
            </th>
            <th>
                表示名
            </th>
            <th>
                ユーザー名
            </th>
            <th>
            </th>
            <th>
                出身校
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserData[0].Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserData[0].Weight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserData) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UniformNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionData.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @item.LastNameKanji @item.FirstNameKanji
            </td>
            <td>
                @item.FirstNameRoman @item.LastNameRoman
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Education)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.UserId">Edit</a> 
            </td>
        </tr>
}
    </tbody>
</table>
